@media(max-width: 1220px){
  .nav{
    padding-top: 180px;
  }
  .nav__list-link {
    font-size: 26px;
    line-height: 38px;
  }
  .header__socials{
    align-items: unset;
    margin-top: 200px;
  }
  .section__title{
    font-size: 21px;
    margin-bottom: 2px;
  }
  .section__subtitle{
    font-size: 12px;
  }
  .section__top::after{
    top: 80px;
  }
  .section__text {
    margin-top: 75px;
    margin-bottom: 65px;
  }
  .btn{
    font-size: 12px;
  }
  .video{
    height: 420px;
    position: relative;
  }
  .video::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0, .5);
    z-index: 1;
  }
  .video__content{
    position: relative;
    z-index: 2;
  }
  .portfolio__top {
    margin-bottom: 70px;
  }
  .portfolio__menu-btn {
    padding: 13px 34px;
  }
  .portfolio__btn-link {
    padding: 13px 52px;
  }
  .about__inner{
    flex-wrap: wrap;
  }
  .about__item{
    width: calc(100% / 2);
    height: 100%;
    margin-bottom: 25px;
  }
  .about__item-photo{
    height: 550px;
  }
  .form__input-wrapper{
    padding-right: 20px;
  }
  .contact__form-inputs,
  .contact__form-textarea,
  .contact__form-btn{
    width: 100%;
    max-width: 800px;
    margin: 0 auto 20px;
  }
  .contact__form-input:not(:last-of-type){
    margin-bottom: 15px;
  }
  .contact__form-btn{
    margin-bottom: 0;
  }
}
@media(max-width: 920px){
  .nav{
    width: 50vw;
  }
  .header__subtitle{
    margin-bottom: 40px;
  }
  .header__subtitle::after{
    top: 45px;
  }
  .header__title {
    font-size: 36px;
    line-height: 56px;
    margin-bottom: 30px;
  }
  .header__btn {
    font-size: 12px;
    padding: 16px 40px;
  }
  .nav{
    padding-top: 150px;
  }
  .nav__list-link {
    font-size: 22px;
    line-height: 32px;
  }
  .header__socials{
    margin-top: 200px;
  }
  .download__text{
    font-size: 11px;
  }
  .download__btn {
    font-size: 12px;
    padding: 11px 30px;
  }
  .beginning{
    padding: 30px 0;
    position: relative;
  }
  .beginning__top{
    margin-bottom: 50px;
  }
  .beginning__title{
    color: #fff;
  }
  .beginning__left-text{
    color: #d1d1d1;
  }
  .beginning__subtitle{
    color: #d1d1d1;
  }
  .beginning__right{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
  .beginning__right::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgb(0, 0, 0, .4);
  }
  .beginning__right-content{
    height: 100%;
  }
  .beginning__left-link{
    color: #fff;
    border-color: #fff;
  }
  .beginning__left-link:hover{
    color: #000;
    background-color: #fff;
  }
  .video{
    height: 320px;
  }
  .video__title{
    font-size: 21px;
    line-height: 32px;
    margin-bottom: 30px;
  }
  .section {
    padding: 60px 0 70px;
  }
  .btn{
    font-size: 11px;
  }
  .portfolio__menu{
    margin-bottom: 55px;
  }
  .portfolio__menu-btn{
    padding: 10px 25px;
  }
  .portfolio__menu-btn + .portfolio__menu-btn{
    margin-left: 20px;
  }
  .portfolio__inner {
    margin: 0 -30px 35px;
  }
  .portfolio__inner-item{
    width: calc(100% / 2);
    height: 350px;
    padding: 0 10px;
  }
  .about__inner {
    margin: 0 -15px 55px;
  }
  .about__item-photo{
    height: 480px;
  }
  .about__info{
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .about__info-item:not(:last-of-type) {
    margin-right: 0;
    margin-bottom: 25px;
  }
  .about__info-item{
    width: calc(100% / 2);
  }
}
@media(max-width: 767px){
  .nav{
    padding-top: 125px;
    width: 100vw;
  }
  .nav__list-link {
    font-size: 20px;
  }
  .header__socials{
    margin-top: 120px;
  }
  .download__inner{
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 45px 0;
  }
  .download__text{
    margin-bottom: 20px;
  }
  .download__btn{
    margin-bottom: 5px;
  }
  .section__text {
    font-size: 12px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .portfolio__top{
    margin-bottom: 55px;
  }
  .portfolio__menu-btn + .portfolio__menu-btn{
    margin-left: 0;
  }
  .portfolio__menu-btn{
    border-width: 1px;
  }
  .portfolio__menu-btn:nth-of-type(1),
  .portfolio__menu-btn:nth-of-type(2),
  .portfolio__menu-btn:nth-of-type(3){
    border-right: 0;
  }
  .portfolio__inner-item{
    height: 320px;
  }
  .testimonial__inner {
    padding: 60px 0;
  }
  .testimonial__img{
    margin-bottom: 45px;
  }
  .testimonial__text {
    font-size: 14px;
    line-height: 23px;
    margin-bottom: 30px;
  }
  .about__item-photo {
    height: 400px;
  }
  .about__info{
    display: block;
  }
  .about__info-item{
    width: 100%;
  }
  .newsletter__title {
    font-size: 14px;
    line-height: 26px;
    margin-bottom: 20px;
  }
}
@media(max-width: 640px){
  .portfolio__menu{
    max-width: 580px;
    flex-wrap: wrap;
  }
  .portfolio__menu-btn{
    width: 50%;
  }
  .portfolio__menu-btn:nth-of-type(2){
    border-right: 1px solid #000;
  }
  .portfolio__menu-btn:nth-of-type(1),
  .portfolio__menu-btn:nth-of-type(2){
    border-bottom: 0;
  }
  .section__text{
    font-size: 11px;
  }
  .testimonial__inner {
    padding: 40px 0;
  }
  .testimonial__img{
    margin-bottom: 35px;
  }
  .testimonial__text {
    font-size: 13px;
    margin-bottom: 20px;
  }
  .about__inner {
    margin: 0 -15px 35px;
  }
  .about__item {
    width: 420px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .contact__inner{
    flex-wrap: wrap;
    margin-bottom: 35px;
  }
  .contact__item{
    width: 50%;
    max-width: 100%;
    margin-bottom: 30px;
  }
  .footer{
    padding: 60px 0;
  }
}
@media(max-width: 560px){
  .header__subtitle{
    margin-bottom: 25px;
  }
  .header__subtitle::after{
    top: 35px;
  }
  .header__title {
    font-size: 27px;
    line-height: 48px;
    margin-bottom: 25px;
  }
  .header__btn {
    font-size: 12px;
    padding: 14px 36px;
  }
  .beginning__top{
    margin-bottom: 35px;
  }
  .beginning__left-content{
    margin-bottom: 40px;
  }
  .beginning__left-text:not(:last-of-type) {
    margin-bottom: 20px;
  }
  .beginning__left-text{
    font-size: 11px;
    line-height: 20px;
  }
  .beginning__left-link{
    font-size: 12px;
    padding: 14px 40px;
  }
  .video{
    height: 250px;
  }
  .video__title{
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 22px;
  }
  .video__btn{
    width: 65px;
  }
  .portfolio__inner-item{
    width: 100%;
    height: 380px;
  }
  .portfolio__menu-btn{
    width: 100%;
  }
  .portfolio__menu-btn:nth-of-type(1){
    border-right: 1px solid #000;
  }
  .portfolio__menu-btn:nth-of-type(3){
    border-right: 1px solid #000;
    border-bottom: 0;
  }
  .about__info-title {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 25px;
  }
  .about__info-text{
    font-size: 12px;
  }
  .newsletter__title{
    font-size: 12px;
  }
  .newsletter__form{
    flex-wrap: wrap;
  }
  .form__input-wrapper{
    padding-right: 0;
    margin-bottom: 15px;
  }
  .newsletter__input{
    font-size: 11px;
  }
  .newsletter__btn{
    margin-left: auto;
  }
}
@media(max-width: 420px){
  .header__title {
    font-size: 21px;
    line-height: 34px;
    margin-bottom: 25px;
  }
  .header__btn {
    font-size: 11px;
    padding: 12px 32px;
  }
  .testimonial__inner {
    padding: 45px 0;
  }
  .testimonial__img{
    margin-bottom: 25px;
  }
  .testimonial__text {
    font-size: 11px;
  }
  .contact__item{
    width: 100%;
  }
}